@media (max-width: 1920px) and (min-width: 1560px) {

    .container{
        min-width: 1500px !important;
    }
}

@media (max-width: 1280px){
    .container{
        max-width: 100% !important;
    }
}

@media (max-width: 992px){

    .container{
        max-width: 100% !important;
    }
    .musics .row{
        flex-wrap: wrap !important;
    }
    .card__img{
        min-height: 300px;
    }
    .main::before{
        display: none;
    }
}

@media (max-width: 768px){

    .container{
        max-width: 100% !important;
    }
    .service{
        flex-wrap: wrap;
    }
    .carousel-control-prev,
    .carousel-control-next,
    .carousel-indicators
    {
        display: block !important;
    }
    .carousel-indicators{
        display: flex !important;
        justify-content: center !important;
    }
    .carousel-indicators button{
        background: #ff2600 !important;
        width: 15px !important;
        height: 15px !important; 
        border-radius: 50%;
        border: none !important;
    }
    .box__img:hover{
        transform: translateY(0);
    }
}

@media (max-width: 700px){

    .nav__list{
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        display: block;
        padding: 50px;        
        background: #ff7300;
        transition: all .5s;
    }
    .nav__link{
        display: inline-block;
        margin: 15px 0;
        color: #fff !important;
        border: 1px solid #fff;
        transform: translate(-200%);
        transition: all 0.75s;
    }
    .nav__link:hover{
        background: none;
    }
    .nav__list.active{
        left: 0;
    }
    .nav__list.active .nav__link{
        transform: translate(0);
        transition-delay: .5s;
    }
    
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: '\f00d';
    }
}

@media (max-width: 576px){

    .card{
        padding: 0 7px !important;
    }
    .card__img{
        min-height: 250px;
    }
    .service__content{
        width: 100%;
    }
    .musics::before{
        display: none;
    }
    .main::before{
        display: none;
    }
    .service__content{
        padding: 20px;
    }
}