*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
li{
    list-style: none;
}
.container{
    width: 1140px !important;
    padding: 0 15px !important;
    margin: 0 auto !important;
    box-sizing: border-box !important;
}

header{
    background: url(../img/c-d-x-PDX_a_82obo-unsplash.jpg) no-repeat center / cover;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}
nav{
    transition: all .5s;
    justify-content: center;
    padding: 10px 0;
}
nav.sticky{
    position: fixed;
    top: 0;
    padding: 5px 0;
    background: #ff7300;
    z-index: 999;
}
nav.sticky .nav__link,
nav.sticky .logo__text,
nav.sticky .nav__logo i,
nav.sticky .typed-cursor{
    color: #fff !important;
}
nav.sticky .nav__link:hover{
    background: none;
}

.nav__blog{
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}
.container .row{
    margin: 0;
    box-sizing: border-box !important;
}
.nav__list{
    display: flex;
    align-items: center !important;
    margin: 0;
}
.nav__link{
    margin: 0 10px;
    padding: 7px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    color: #ff2600 !important;
    transition: all .5s;
}
.nav__link:hover{
    background: #ff7300;
    color: #fff !important;
}
.nav__logo i{
    font-size: 30px;
    font-weight: 700;
    color: #ff2600 !important;
    animation: logo 4s infinite;
}
@keyframes logo{

    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
}
.logo__text{
    font-size: 20px;
    font-weight: 700;
    padding-left: 5px;
    color: #ff2600 !important;
}
.typed-cursor{
    color: #ff2600;
    font-size: 18px;
}


.menu-btn{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 50px;
    width: 47px;
    background-color: #ff7300;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 30px;
    z-index: 999;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}
.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn.showTop{
    bottom: 75px;
}
.scroll-up-btn.showTp{
    bottom: 175px;
}

/* Section Musics styling */

.musics{
    padding: 100px 0 50px;
    position: relative;
}
.musics .row, .com__soon .row{
    padding-top: 50px;
}

.section__title{
    padding-bottom: 5px;
    font-weight: 600;
    color: #ff7300;
    position: relative;
}
.section__title::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 20%;
    height: 3px;
    background: #ff7300;
}
.card{
    border: none !important;
    cursor: pointer;
    padding: 0 7px 25px !important;
    background: none !important;
}
.img__blog{
    position: relative;
    min-height: 200px;
}
.img__blog:hover .card__content{
    opacity: 1;
    pointer-events: auto;
}
.img__blog:hover .card__img{
    filter: brightness(75%);
}
.card__img{
    width: 100%;
    min-height: 250px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    object-fit: cover;
}

.card__title, .box__title{
    margin: 0;
    padding: 10px 0 10px 5px;
    color: #ff7300;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    transition: all .3s;
    cursor: pointer;
}
.card__title:hover, .box__title:hover{
    background: #ff7300;
    color: #fff;
}
.card__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
}
.card__content ul{
    margin: 5px;
    width: max-content;
}
.card__content li{
    list-style: disc;
    color: #fff;
    font-weight: 500;
}

/* Section Service styling */

.service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    border-top: 1px solid #ff7300;
}
.service__img{
    width: 100%;
}
.service__image{
    width: 100%;
}
.service__content{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 30px;
}
.service__title{
    font-weight: 600;
}
.service__subtitle{
    color: #ff7300;
    font-size: 18px;
    font-weight: 500;
}
.service__text{
    color: #202020;
    padding-bottom: 20px;
    max-width: 450px;
}
.service__btn{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    outline: none !important;
    border: none;
    background: #ff7300;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    overflow: hidden;
    position: relative;
}
.service__btn:hover{
    background: #ff8b00;
}
.service__btn span{
    position: absolute;
    background-color: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 0.5s linear infinite;
}

@keyframes animate{

    0%{
        width: 0;
        height: 0;
        opacity: 1;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0.1;
    }

}
.service__btn i{
    padding-right: 5px;
}

/* Section Coming Soon styling */

.com__soon{
    padding: 50px 0 100px 0;
    border-top: 1px solid #ff7300;
    position: relative;
}
.box{
    height: 500px;
    padding: 0 !important;
}
.box__content{
    display: flex;
}
.box__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.box__img:hover{
    filter: brightness(80%);
    transform: translateY(10px);
}
.box__title{
    margin: 0;
    padding-top: 15px;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators
{
    display: none !important;
}

/* Footer styling */

.footer{
    background: #222;
    padding: 25px 0;
}
.foot__text, .foot__title{
    text-align: center;
    font-weight: 500;
    color: #ccc !important;
    padding: 5px 0;
}
.foot__text a, .foot__title a{
    color: #ff7300 !important;
}
.foot__text a:hover, .foot__title a:hover{
    text-decoration: underline !important;
}
.social{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: #fff;
}
.social i{
    font-size: 24px;
    margin: 0 5px;
    color: #ccc;
    transition: all 0.3s;
}
.social i:hover{
    color: #ff7300;
    transform: scale(0.95);
}

/* Background */

body{
    position: relative;
}
main{
    position: relative;
    overflow: hidden;
}
main::before{
    content: '';
    position: absolute;
    top: 35%;
    right: 5%;
    width: 200px;
    height: 200px;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background: #ff7300;
    transform: rotate(160deg);
}
.musics::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0%;
    width: 300px;
    height: 300px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background: #ff7300;
    transform: translateX(25%);
    transform: rotate(210deg);
}

audio{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}
audio::before{
    background: #ff7300;
}
audio.show{
    opacity: 1;
    pointer-events: auto;
}

#aplayer{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    margin: 0;
    transition: all .5s ease;
    opacity: 0;
    pointer-events: none;
}
#aplayer.show{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.aplayer{
    background: #ff7300 !important;
    color: #fff !important;
}
.aplayer-time-inner, .aplayer-author, .aplayer-list-author, .aplayer-list-index{
    color: #fff !important;
}
.aplayer .aplayer-list ol li.aplayer-list-light, .aplayer-list li:hover{
    background: #ff9900 !important;
}
.aplayer-bar, .aplayer-thumb, .aplayer-played{
    background-color: #fff !important;
}
